* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

nav {
  background-color: blueviolet;
  height: 50px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 16px;

  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}
