.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 86%;
  height: 144px;
  margin: 10px 0;
  padding: 1% 4%;
  
  color: #ffffff;
}

.logo{
  width: 180px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    margin: 2rem auto;
  }
}

@media (max-width: 540px) {
  .header {
    margin: 0;
    padding: 0;
  }
  .logo {
    margin: 3rem 0;
  }
}