h1 {
  color: blue;
}

h1::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 20px;
  background: red;
}

h1::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 20px;
  background: red;
}

input {
  width: 300px;
  color: red;
  font-size: 20px;
}

input::placeholder {
  color: blue;
}
