#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.container {
  display: flex;
  height: 100vh;
  /* flex-direction: column; */
  gap: 16px;
  align-items: center;
  justify-content: center;
}
